body, input {font-size:14pt}
input, label {vertical-align:middle}
.qrcode-text {padding-right:1.7em; margin-right:0}
.qrcode-text-btn {display:inline-block; background:url("https://d30y9cdsu7xlg0.cloudfront.net/png/59262-200.png") 50% 50% no-repeat; height:1em; width:1.7em; margin-left:-1.7em; cursor:pointer}
.qrcode-text-btn > input[type=file] {position:absolute; overflow:hidden; width:1px; height:1px; opacity:0}
.qrcode-text + .qrcode-text-btn {
    width: 1.7em;
    margin-left: -1.7em;
    vertical-align: middle;
  }